* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #333;
  background: url(./imagens/mapa-mundi.png);
  background-size: 100%;
}

.App {
  margin-top: 100px;
}

